header{
    position: relative;
    z-index: 1;
    display: none;
}

header .header_menu_container{
    font-size: larger;
    font-weight: 600;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 25px 0 25px 0;
}