footer{
    background-color: black;
    color: aliceblue;
    padding: 10px 0 10px 0;
}

footer .add_wrapper{
    display: flex;
    justify-content: space-evenly;
}

footer .add_wrapper a:hover{
    text-decoration: none;
}