.sec_1{
margin: 0 0 100px 0;
}

.sec_2{
    margin: 100px 0 100px 0;
    }

.sec_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../img/roof_clean.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    /* position: absolute;
    z-index: 0;
    top: 0; */
    flex-direction: column;
}


.sec_1 figure {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sec_1 figure img{
    width:  50%;
    filter: drop-shadow(2px 4px 6px white);
}

.services {
    font-size: xx-large;
    font-weight: 700;
    filter: drop-shadow(2px 4px 3px white);
    font-style: italic;
}











form {
    margin-top: 80px;
}

.nf-before-form-content {
    display: none;
}

input#nf-field-11 {
    width: 100%;
}

.sec_2 .form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.sec_2 .form_wrapper h1{
    font-size: xx-large;
    font-weight: 700;
}


input#propertyAddress, input#emailAddress, input#phoneNumber, input#fullName {
    width: 100%;
}

textarea#message {
    width: 100%;
    min-height: 129px;
}

button {
    position: relative;
    padding: 6px 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00c2cb;
    background: none;
    color: #00c2cb;
    cursor: pointer;
    outline: none;
    transition: 200ms;
  }
  i {
    position: absolute;
    color: transparent;
    transition: 200ms;
  }
  button:focus {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 25px 25px;
    border-left: 2px solid #00c2cb;
    animation: spin 2s 500ms forwards;
  }
  button:focus i {
    animation: check 300ms 2250ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #00c2cb;
    }
    100% {
      transform: rotate(720deg);
      border: 2px solid #00c2cb;
    }
  }
  
  @keyframes check {
    to {
      color: #00c2cb;
    }
  }
  





    .sec_3{
        background-color: #666666;
        padding: 60px 0 60px 0;
    }

    .sec_3 .video_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 60px;
        color: aliceblue;
    }

    .sec_3 .video_wrapper p {
        font-size: large;
    }

    .sec_3 .video_wrapper h2{
        font-size: xx-large;
        font-weight: 700;
    }







    .sec_4 .par_wrapper .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .sec_4 .par_wrapper h3{
        font-size: xx-large;
        font-weight: 700;
    }

    .par_content1, .par_content2, .par_content3,.par_content4, .par_content5{
        padding: 200px 0 200px 0;
        font-size: larger;
    }

    .par_content1{
        background-image: url("../img/roof_detergent_spray.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -3px;
        color: aliceblue;
    }

    .par_content2{
        background-image: url("../img/roof_brush_scrub.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: aliceblue;
    }

    .par_content3{
        background-image: url("../img/roof_sealant_application.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -3px;
        color: aliceblue;
    }

    .par_content4{
        background-image: url("../img/gutter_clean.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -3px;
        color: aliceblue;
    }

    .par_content5{
        background-image: url("../img/before_after_roof_clean.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -3px;
        color: aliceblue;
    }




@media only screen and (max-width: 700px) {
    .sec_1 figure img {
        width: 100%;
    }
  }

@media only screen and (max-width: 600px) {
    .sec_1 figure img {
        width: 80%;
    }
    .services {
        font-size: x-large;
    }
    #carouselExampleSlidesOnly p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}